annotated-types
anyio
astroid
bcrypt
certifi
cffi
charset-normalizer
click
coverage
cryptography
dill
dnspython
ecdsa
email_validator
exceptiongroup
Faker
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
isort
Jinja2
MarkupSafe
mccabe
packaging
passlib
platformdirs
playwright
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
PyJWT
pylint
pytest
pytest-cov
pytest-pylint
python-dateutil
python-dotenv
python-jose
python-multipart
requests
rsa
six
sniffio
SQLAlchemy
starlette
tenacity
tomli
tomlkit
typing_extensions
urllib3
uvicorn
